<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>查询测试</title>
    <link  th:href="@{/css/style.css}"  type="text/css" rel="stylesheet">
</head>
<body>

    <div>
        <center>查询</center>
    </div>

    <div id="vivo-head"  >
        <div class="vivo-search" >
            <div class="search-box" >

                <form action="/findVegetableByCode" method="get">
                    <input  type="text" placeholder="条形码" name='code' class='data_q' autocomplete="off"><button>搜索</button><a class="close"></a>
                </form>

            </div>
        </div>
        <div class="vivo-nav cl">
            <div class="search-user">
                <a href="#" class="search"><b></b></a>
                <a href="http://www.17sucai.com" class="user"><b></b></a>
            </div>
        </div>
    </div>


</body>
</html>
